<h1>New Game</h1>

<div class="answerContainer">

    <span class="res"><h1><%= @score[:message] %></h1></span>
    <span class="res">  <h1>Your Scode:  <%= @score[:score] %></h1></span>

</div>

<h2>  <%= link_to "Again!", new_path %></h2>

